<div class="iiskin-tabs-container">
	{{! Namespaces (Page, Talk) }}
	{{#data-portlets}}
		{{#data-namespaces}}
		<nav id="{{id}}" class="{{class}} iiskin-tabs iiskin-namespaces" 
			aria-labelledby="{{id}}-label" {{{html-tooltip}}}>
			<ul {{{html-user-language-attributes}}}>
				{{{html-items}}}
			</ul>
		</nav>
		{{/data-namespaces}}
	{{/data-portlets}}

	<div class="iiskin-tabs-right">
		{{! Views (Read, Edit, History) }}
		{{#data-portlets}}
			{{#data-views}}
			<nav id="{{id}}" class="{{class}} iiskin-tabs iiskin-views" 
				aria-labelledby="{{id}}-label" {{{html-tooltip}}}>
				<ul {{{html-user-language-attributes}}}>
					{{{html-items}}}
				</ul>
			</nav>
			{{/data-views}}
		{{/data-portlets}}

		{{! Actions dropdown (Move, Delete, Protect, etc.) }}
		{{#data-portlets}}
			{{#data-actions}}
			{{^is-empty}}
			<nav id="{{id}}" class="{{class}} iiskin-actions-dropdown" 
				aria-labelledby="{{id}}-label" {{{html-tooltip}}}>
				<input type="checkbox" id="iiskin-actions-checkbox" class="iiskin-dropdown-checkbox" aria-hidden="true">
				<label for="iiskin-actions-checkbox" class="iiskin-actions-toggle" id="{{id}}-label" {{{html-user-language-attributes}}}>
					<span>{{label}}</span>
					<span class="iiskin-dropdown-arrow"></span>
				</label>
				<div class="iiskin-dropdown-content mw-portlet-body">
					<ul {{{html-user-language-attributes}}}>
						{{{html-items}}}
					</ul>
				</div>
			</nav>
			{{/is-empty}}
			{{/data-actions}}
		{{/data-portlets}}

		{{! Variants (language variants like zh-hans, zh-hant) }}
		{{#data-portlets}}
			{{#data-variants}}
			{{^is-empty}}
			<nav id="{{id}}" class="{{class}} iiskin-variants-dropdown" 
				aria-labelledby="{{id}}-label" {{{html-tooltip}}}>
				<input type="checkbox" id="iiskin-variants-checkbox" class="iiskin-dropdown-checkbox" aria-hidden="true">
				<label for="iiskin-variants-checkbox" class="iiskin-variants-toggle" id="{{id}}-label" {{{html-user-language-attributes}}}>
					<span>{{label}}</span>
					<span class="iiskin-dropdown-arrow"></span>
				</label>
				<div class="iiskin-dropdown-content mw-portlet-body">
					<ul {{{html-user-language-attributes}}}>
						{{{html-items}}}
					</ul>
				</div>
			</nav>
			{{/is-empty}}
			{{/data-variants}}
		{{/data-portlets}}
	</div>
</div>
