<div id="p-logo" class="iiskin-logo" role="banner">
	<a href="{{link-mainpage}}" class="mw-wiki-logo" title="{{msg-sitetitle}}">
		   <img class="iiskin-logo-icon" src="{{$wgLogo}}" alt="{{msg-sitetitle}}" width="50" height="50">
	</a>
</div>